.DS_Store
vendor/
cache/*
!cache/index.htm
store/*
!store/index.htm
files/*
!files/index.htm
node_modules.php-cs-fixer.cache
.phpunit.result.cache
tests/e2e/playwright-report/
tests/e2e/test-results/
tests/e2e/node_modules/
